body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

/* Navigation Bar Section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 12%;
    background-color: rgb(25, 0, 255);
}
.aaa {
    margin-left: 100px;
}

.logo h2 a {
    text-decoration: none;
    color: #fff;
}

.nav ul {
    display: flex;
    /* margin-left: 20px; */
    
}

.nav ul li {
    list-style: none;
    padding: 0 30px;
    
}

.nav ul li {
    text-decoration: none;
    color: #000;
    background: white;
    padding: 10px 20px;
    margin: 10px;
}

.nav ul li:hover {
    background: red;
    transform: rotate(25deg);
    /* opacity: 0.5; */
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#main {
    background-color: red;
    padding: 3% 12%;
}

#section-1 {
    background-color: green;
    padding: 3% 12%;
}

.btn {
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}
.btn:hover{
    background-color: red;
    transform: rotate(35deg);
}